<div class='center-align'>

  <% if @errors %>
    <h2 class='error'><%= @errors %></h2>
  <% end %>

  <form action="/sessions" method="POST">
    <input type="text" name="email" placeholder="Email:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Login!">
  </form>

</div>
