<h1>LOGIN PAGE</h1>
<h2>route get /sessions/new</h2>
<h2>On submit runs the post /sessions route</h2>

<!-- post '/sessions' -->
<form action="/sessions" method="POST">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login!">
</form>