.bundle
.DS_Store
config/database.yml
db/*.sqlite3
db/*.sqlite
db/*.sqlite3-journal
ruby_runner.rb
log/*.log
tmp/
.sass-cache/
.DS_store
coverage
doc/api
doc/app
db/migrate/20161017162549_create_keys.rb
app/models/key.rb
curriculum/.pygments-cache
curriculum/public/*
public/assets
*.tmproj
*~
\#*#
.idea/
ignored/
.irb-save-history
chromedriver.log
.tddium*
bin/
.env
*.swp
