<div class='center-align'>

  <% if @errors %>
    <h2 class='error'><%= @errors %></h2>
  <% end %>

  <form action="/users" method="POST">
    <input type="text" name="user[email]" placeholder="Email:">
    <input type="text" name="user[username]" placeholder="Username:">
    <input type="password" name="user[password]" placeholder="Password:">
    <input type="password" name="password_confirmation" placeholder="Password Confirmation:">
    <input type="submit" value="Sign Up!">
  </form>

</div>
