<h1>NEW USER REGISTRATION</h1>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/users" method="POST">
  <input type="text" name="user[first_name]" placeholder="First Name">
  <input type="text" name="user[last_name]" placeholder="Last Name">
  <input type="text" name="user[email]" placeholder="Email:">
  <input type="password" name="user[password]" placeholder="Password:">
  <input type="password" name="password_confirmation" placeholder="Password Confirmation:">
  <input type="submit" value="Login">
</form>
