<% if current_user %>
<div class='center-align'>
  <a class='button' href="/">Home Page</a>
</div>

<div class='center-no-pad'>
  <h3>Thank you for taking this survey</h3>
  <h5>You completed this assessment on: <%= completed_at %></h5>
  <h5>Your assessment score: <%= traitify_results %></h5>
</div>

<footer class='center-no-pad'>
    <form class='button' action="/sessions" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout">
    </form>
</footer>
<% end %>
